body{
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.container{
    height: 700px;
    width: 700px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    
}

.buttonContainer{
    display: flex;
    
    
    margin-bottom: 20px;
}

.gridContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clickme{
    margin-left: 150PX;
}